<contest>
  <info>
    <title>
      test3
    </title>
    <length>
      46:32:41.000
    </length>
    <scoreboard-freeze-length>
      22:24:46.000
    </scoreboard-freeze-length>
    <starttime>
      1625682725.0
    </starttime>
  </info>
    <judgement>
      <acronym>
        CE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        MLE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        OLE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        RTE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        TLE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        WA
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        PE
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        NO
      </acronym>
    </judgement>
    <judgement>
      <acronym>
        AC
      </acronym>
    </judgement>
    <problem>
      <id>
        1
      </id>
    </problem>
    <problem>
      <id>
        2
      </id>
    </problem>
    <problem>
      <id>
        3
      </id>
    </problem>
    <team>
      <id>
        2
      </id>
      <name>
        Example teamname
      </name>
      <university>
        
      </university>
    </team>
    <team>
      <id>
        3
      </id>
      <name>
        ARTEMISA
      </name>
      <university>
        
      </university>
    </team>
    <team>
      <id>
        4
      </id>
      <name>
        NMA
      </name>
      <university>
        
      </university>
    </team>
    <run>
      <id>
        6
      </id>
      <problem>
        3
      </problem>
      <team>
        2
      </team>
      <judged>
        true
      </judged>
      <result>
        AC
      </result>
      <solved>
        true
      </solved>
      <penalty>
        false
      </penalty>
      <time>
        23.709
      </time>
    </run>
    <run>
      <id>
        7
      </id>
      <problem>
        2
      </problem>
      <team>
        2
      </team>
      <judged>
        true
      </judged>
      <result>
        WA
      </result>
      <solved>
        false
      </solved>
      <penalty>
        true
      </penalty>
      <time>
        56.159
      </time>
    </run>
    <run>
      <id>
        8
      </id>
      <problem>
        1
      </problem>
      <team>
        2
      </team>
      <judged>
        true
      </judged>
      <result>
        WA
      </result>
      <solved>
        false
      </solved>
      <penalty>
        true
      </penalty>
      <time>
        3102.2
      </time>
    </run>
    <run>
      <id>
        9
      </id>
      <problem>
        3
      </problem>
      <team>
        2
      </team>
      <judged>
        true
      </judged>
      <result>
        AC
      </result>
      <solved>
        true
      </solved>
      <penalty>
        false
      </penalty>
      <time>
        3123.356
      </time>
    </run>
    <run>
      <id>
        10
      </id>
      <problem>
        2
      </problem>
      <team>
        2
      </team>
      <judged>
        true
      </judged>
      <result>
        WA
      </result>
      <solved>
        false
      </solved>
      <penalty>
        true
      </penalty>
      <time>
        3150.065
      </time>
    </run>
    <award>
      <id>
        first-to-solve-C
      </id>
      <citation>
        First to solve problem C
      </citation>
      <show>
        true
      </show>
      <teamId>
        2
      </teamId>
    </award>
    <award>
      <id>
        0th
      </id>
      <citation>
        0th Place
      </citation>
      <show>
        true
      </show>
    </award>
    <award>
      <id>
        1st
      </id>
      <citation>
        1st Place
      </citation>
      <show>
        true
      </show>
        <teamId>
          2
        </teamId>
    </award>
    <award>
      <id>
        2nd
      </id>
      <citation>
        2nd Place
      </citation>
      <show>
        true
      </show>
        <teamId>
          3
        </teamId>
        <teamId>
          4
        </teamId>
    </award>
    <award>
      <id>
        3rd
      </id>
      <citation>
        3rd Place
      </citation>
      <show>
        true
      </show>
    </award>
    <award>
      <id>
        first-WA
      </id>
      <citation>
        First WA
      </citation>
      <show>
        true
      </show>
      <teamId>
        2
      </teamId>
    </award>
  <finalized>
    <last-gold>
      0
    </last-gold>
    <last-silver>
      0
    </last-silver>
    <last-bronze>
      0
    </last-bronze>
    <timestamp>
      0
    </timestamp>
  </finalized>
</contest>